<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="weatherBackground"></div>
    
    <section class="container">
        <h1>5-Days Weather Forecast</h1>

        <div class="search-box">
            <input type="text" id="cityInput" placeholder="Enter city name...">
            <button id="searchBtn">Search</button>
        </div>

        <div id="error-message" class="error"></div>
        <h2 id="cityName"></h2>

        <div id="forecastContainer" class="forecast-container"></div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>